# Banco de dados
DATABASE_URL=postgresql://usuario:senha@localhost:5432/rotafacil

# Segurança JWT
SECRET_KEY=sua_chave_secreta_muito_longa_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Aplicação
APP_NAME=RotaFácil
DEBUG=True
